.footer {
    background-color: #000000;
    color: #ffffff;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 24px;
    color: #cccccc;

}

.footer-contato{
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.footer-contato li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-copy {
    font-size: 20px;
    color: #8f8f8f;

}