body {
    font-family: "Fira Sans", Arial, sans-serif;
    margin: 0px;
    color: #141414;
    background-color: #d5d5d5;
}
li {
    list-style: none;
}

h1, h2,h3,p{
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}
